.preview-wrapper {
  position: relative;
  flex-grow: 1;
  height: 100%;
}

.preview-wrapper iframe {
  height: 100%;
  background-color: #fff;
  width: 100%;
}

.react-draggable-transparent-selection .preview-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
}
